.box{
	margin-left:30%;
	margin-bottom:500px;
	margin-right: 30%;
	background-color: white;
}
body{
	background-color: orange;
}
h1{
	margin-left: 2%;
}
button{
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	box-shadow: 0 -3px red inset;
	background: red; 
}

img{
	width: 10%;
	margin-left: 45%;
}